@page "/"

<Animate Animation="Animations.ZoomOut" Duration="TimeSpan.FromSeconds(0.5)" >
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">API app Blazor</h1>
        <p class="lead">Wilber Aldair Alegria Mendez</p>
    </div>
    </div>
</Animate>